# --- DOCKER / NAS CONFIGURATION ---
CONTAINER_NAME=urlaubsplanung_web
IMAGE_NAME=urlaubsplanung_image
WEB_PORT=8000
COMPOSE_PROJECT_NAME=urlaubsplanung_instance
APP_DATA_PATH=./data

# --- DJANGO SETTINGS ---
DEBUG=False
SECRET_KEY=django-insecure-local-dev-key-change-this-for-prod
ALLOWED_HOSTS=*
DATABASE_URL=sqlite:///data/db.sqlite3
CSRF_TRUSTED_ORIGINS=https://urlaub.zaisers.myds.me,https://finanzen.zaisers.myds.me
