*.log
*.sqlite3
*.pyc
__pycache__/
media/
staticfiles/
.env
.DS_Store
~$*
.venv/
venv/
# Office Documents
*.doc
*.docx
*.xls
*.xlsx
Planung Excel - *.xlsx

# Meta & Junk
project_rules.md
prompt.txt
.DS_Store
~$*
db.sqlite3*
docker/backup-usb.sh
